@media (prefers-reduced-motion: reduce) { 
::before, *::after { animation: none !important; 
transition: none !important; } }
@font-face {
    src: url("fonts/MegascopeV2Variable[SCOP\,wght].woff2") format("woff2");
    font-family: 'megascope-v2';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    max-width: 100%;
    max-height: 2200px;
    background-color: rgb(184, 162, 138);
    font-family: 'megascope-v2';
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
margin-left: 3%;
margin-right: 0%;
grid-template-columns: 150px, 150%, 150%;
grid-template-rows: 33%,33%,33%;
grid-template-areas:
    "f h l"
    "A B Z"
    "C D E"
    "I G J";
}

    #history1 {
    grid-area: "A";
    height: 150%;
    transform: translate(70%,37%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    }
    #history2 {
    grid-area: "B";
    height: 150%;
    transform: translate(70%,37%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    }
    #history3 {
    grid-area: "Z";
    height: 150%;
    transform: translate(70%,37%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    }

#break_4_sliders{
    grid-area: "D";
    .Break_BG{
    transform: translate(9%,55%) scale(1.19);
    z-index: -1;}
    .TYPE_var{
        z-index: 10;
        color: aqua;
    }

}
#after_break{
    max-height: 500px;
    background-color: black;
    #para1 {
    grid-area: "I";
    height: 150%;
    transform: translate(0%,50%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    width: 33%;
    height: 150%;
    margin: 10%;
    margin-top: 0%;
    }
    #para2 {
    grid-area: "G";
    height: 150%;
    transform: translate(132%,-79%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    width: 33%;
    height: 150%;
    }
    #para3 {
    grid-area: "J";
    height: 150%;
    transform: rotate(90deg) translate(19%,-300%);
    background-color: rgb(255, 234, 217);
    corner-block-end-shape: 50px;
    z-index: 1;
    }
}
#variations{
grid-area: "C";
color: #C9B8A6;
letter-spacing: 50%;
transform: translate(10%,-250%);
}

#alphabet {
grid-area: "I";
text-align: center;
letter-spacing: 12px;
z-index: 10;
}
}
.TYPE{
        transform: translate(550%,-1290%) scale(7);
        letter-spacing: 10%;
        z-index: 10;
        position: absolute;
    }
.Down{
        transform: translate(35%,-4100%)scale(3);
        letter-spacing: 10%;
        z-index: 10;
    }
.Load{
        transform: translate(35%,-4050%) scale(3);
        letter-spacing: 20%;
        z-index: 10;
    }
.button{
        transform: translate(-530%,-775%) scale(1.2);
        letter-spacing: 10%;
        z-index: 10;
        position: absolute;
    }
/* CSS for the footer */
footer{
    background-color: rgb(0, 0, 0);
    .name{
        color: #C9B8A6;
        transform: translate(-7%,260%);
    }
    height:200px;
}

/* font styling area */
h1{
    color: black;
    font-size: 5em;
    line-height: 35%;
}

h2{
    color: rgb(0, 0, 0);
    font-variation-settings: "opsz" 16, "wght" 900, "slnt" -8;
    
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}
h5{
    color: black;
    font-size: 5em;;
    line-height: 55%;
}
p{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
p1{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
p2{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
p3{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
p4{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
p5{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
p6{
    src: url("fonts/OutputSans2Beta-Regular.woff2") format("woff2");
    font-family: 'OutputSans2';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" -13;
    }
}
/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0;
    }
}
/* where the animation is for the width change */
.scope{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0;
    }
}

h5{
    font-size:40px;
    color:rgb(150, 126, 107);
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    color: rgb(63, 45, 35);
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
    }
